<p id="notice"><%= notice %></p>

<h2> Your Cart</h2>

<ul>
<% @cart.line_items.each do |item| %>
	<li> Name: <%= item.product.name %> <br>Price: <%= item.product.price_in_cents / 100 %>
  </li>
<% end %>
</ul>


Total cart value:
<%= @cart.get_total %>

<% end %>

<br>