<h1>Listing products</h1>
<div class="col-md-5">
<table class="products">
  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-2">Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= @warning %>
    <% @products.each do |product| %>
      <tr>
        <td class="col-md-2"><%= product.name %></td>
        <td class="col-md-2"><%= product.price_in_cents / 100 %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>