<div class="navbar-fixed-bottom">
  <footer class="container">
    <div class="row">
      <div class="col-md-6">
        <dl>
          <dt>About Stack/store</dt>
          <dd><a href="#">History</a></dd>
          <dd><a href="#">Shipping information</a></dd>
          <dd><a href="#">Admin login</a></dd>
        </dl>
      </div>
    </div>
  </footer>
</div>  